@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #111111;
}

a {
    text-decoration: none;
    border-bottom: none;
    font-weight: 500;
    margin: 12px 12px;
    transition: all 300ms ease;
}

a:hover {
    border-bottom: 2px solid #FFFFFF;
}

/* NAV */

.nav {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 2px solid #000000;
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.nav_conatainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_side {
    margin-right: 50%;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.first_section {
    width: 100%;
    max-width: 600px;
}

.header_h1 {
    text-align: left;
    font-size: 54px;
    margin: 8px 12px;
}

.header_p {
    color: #818181;
    font-size: 32px;
}